<div class="article-form-container">
	
	<h2>Add to our library</h2>

	<form class="new-article">
		
		<div class="article-info-inputs">
			<h4 class= "input-label">Title</h4>

		  <input class="article-field" type="text" name="article[title]">
		
			<h4 class= "input-label">Year of publication</h4>

		  <input class="article-field" type="number" name="article[year]">
		</div>
		
		<div class="author-info-inputs">
			<h4 class= "input-label">Author's first name'</h4>

		  <input class="article-field" type="text" name="author[first_name]">
		
			<h4 class= "input-label">Author's last name'</h4>

		  <input class="article-field" type="text" name="author[last_name]">
		</div>
		
		<h4 class= "input-label">Article text</h4>

	  <textarea class="article-text-field" name="article[text]"></textarea>


	<button>Submit</button>

	</form>
	
</div>