<h3>Post a new comment</h3>

<form action="<%= comments_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="comment[annotation_id]" value="<%= annotation.id %>">
  <textarea name="comment[text]"></textarea>

  <button>Submit Comment</button>

</form>