<h2>Create a new annotation</h2>

<form
  action="<%= annotations_url %>"
  enctype="multipart/form-data"
  method="POST">

  <%= auth_token %>
  <input type="hidden" name="annotation[article_id]" value="<%= @article.id %>">

  <label>
    Start:
    <input type="number" name="annotation[start]">
  </label>
  <label>
    End:
    <input type="number" name="annotation[end]">
  </label>
  <hr>
  <label>
    Text:
    <textarea name="annotation[text]"></textarea>
  </label>
  <br>
  <label>
    Image:
    <input type="file" name="annotation[image]">
  </label>





</form>