<big>
  <strong>
    <a href="<%= user_url(comment.user) %>"><%= comment.user.username %></a>
  </strong>
</big>
<br>
<br>
<%= comment.text %>
<br>
<br>
<%= render 'shared/vote_buttons', votable: comment %>
<hr>
