<section class="comment-show">
	<big class="comment-username">
	    <a><%= comment.user().escape("username") %></a>
	</big>
	<article class="comment-text">
		<%= comment.escape('text') %>
	</article>
	<div class="vote-buttons"></div>
</section>

