<% if (results['results'].length === 0) { %>
  <big class="empty-message">Nothing to see here...</big>
<% } else { %>
  <ul>
    <% results['results'].forEach(function(result) { %>
      <li>
        <a class="result-link" href="<%= result['url'] %>"><%= result['summary'] %></a>
      </li>
    <% }) %>
  </ul>
<% } %>