<% if (results['results'].length === 0) { %>
  <big>Nothing to see here...</big>
<% } else { %>
  <ul>
    <% results['results'].forEach(function(result) { %>
      <a class="result-link" href="<%= result['url'] %>"><%= result['summary'] %></a>
    <% }) %>
  </ul>
<% } %>