<form class="new-annotation">

  <h3 class="annotation-snippet"><%= snippet %></h3>

  <textarea class="annotation-form-text" name="text"></textarea>

  <div class="image-upload-container">
	  <label >
	    Image:
	    <input type="file" name="image" class="image-input">
	  </label>
  </div>
  
	<figure class="image-preview-container">
    	<img class="image-preview">
	</figure>

  <button class="annotation-submit">Annotate</button>

</form>