<style>
.image-preview {
  width: 350px;
  height: 350px;
}
</style>

<form class="new-annotation">

  <h3><%= snippet %></h3>

  <hr>

  <label>
    Your annotation:
    <br>
  <textarea name="text"></textarea>
  </label>

  <br>

  <label>
    Image:
    <input type="file" name="image" class="image-input">
  </label>

  <label>
    Preview:
    <img class="image-preview">
  </label>

  <button class="new-annotation">Annotate</button>

</form>