<h2>New Annotation</h2>

<form class="new-annotation">

  <label>
    Start:
    <input type="number" name="annotation[start]">
  </label>
  <label>
    End:
    <input type="number" name="annotation[end]">
  </label>
  <hr>
  <label>
    Text:
    <br>
  <textarea name="annotation[text]"></textarea>
  </label>
  <br>
  <label>
    Image:
    <input type="file" name="annotation[image]">
  </label>

  <button class="new-annotation">Annotate</button>

</form>