<div class="annotation">

  <h3><%= annotation.escape('snippet') %></h3>
  <hr>
  <%= annotation.escape('text') %>
  --<a><small><%= annotation.user().escape("username") %></small></a>

  <% if (annotation.get('image').indexOf("missing") === -1) { %>
      <img src="<%= annotation.get('image') %>">
  <% } %>

  <div class="comments"></div>

</div>