<h2><%= @author.first_name %> <%= @author.last_name %></h2>

<label>
  Articles by this author:
  <ul>
    <% @author.articles.each do |article| %>
      <li><a href="<%= article_url(article) %>"><%= article.title %></a></li>
    <% end %>
  </ul>
</label>