<div class='user-container'>
	
	<h2 class="user-title">Sign up</h2>

	<form action="<%= users_url %>" method="POST">

	  <%= auth_token %>

	  	<h4 class= "input-label">Username</h4>
	    <input class="user-input" type="text" name="user[username]" value="<%= @user.username %>">

	    <h4 class= "input-label">Password</h4>
	    <input class="user-input" type="password" name="user[password]">
			
	    <h4 class= "input-label">Profile Picture</h4>
	    <input class="user-input prof-pic-input" type="file" name="user[avatar]">
			
	  <button class="user-submit">Sign up</button>


	</form>

</div>