.group:after {
  content: "";
  clear: both;
  display: block;
}

section.main {
  display: block;
  width: 1050px;
  min-height: 800px;
  height: 100%;
  margin: 0 auto;
  font-family: inherit;
}

/* General vote styles */

.vote {
  color: #caeffa;
}

.inactive {
  color: #efcafa;
}

.inactive:hover {
  color: #caeffa;
}

/* Header Styles */

header {
  width: 1050px;
  height: 180px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

header > h2 {
  font-size: 40px;
}

header > h3 {
  font-size: 30px;
}

header > .vote-buttons big {
  font-size: 25px;
}

header > .vote-buttons .vote {
  font-size: 25px;
  padding: 0 10px;
}

/* Article Text, Links, and Popup */

div.article-text {
  width: 550px;
  padding: 20px 50px 0px 0px;
  float: left;
  font-size: 30px;
  margin: 0 auto;
}

.article-text > .annotation-link {
  color: #efcafa;
}

.article-text > .annotation-link:hover {
  color: #caeffa;
}
div.article-text > .popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 60px;
  padding: 5px 10px 15px 10px;
  color: #000;
  background: #efcafa;
  text-align: center;
  border-radius: 7px;
}

div.article-text > .popup:hover {
  background: #caeffa;
}

/* Sidebar */

div.annotations-sidebar {
  width: 410px;
  height: 100%;
  padding: 20px;
  float: right;
}

div.annotation-view {
  width: 400px;
  padding: 0 25px;
  position: relative;
  display: none;
}

/* Annotation display styles */

.annotation {
	
}

.annotation-title {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 30px;
}

.annotation-text {
	font-size: 20px;	
}

.annotation-image {
	margin-bottom: 50px;
}

.annotation-image > img {
	max-height: 400px;
	width: auto;
	margin: 0 auto;
}

.annotation-username {
	font-size: 20px;
	font-variant: small-caps;
}

/* Comment form styles */

.comment-input {
	-webkit-appearance: none;
	width: 276px;
	min-height: 76px;
	color: inherit;
	font-family: inherit;
	background: none;
	font-size: 16px;
	padding: 10px;
	margin: 0 50px;
	border: 2px solid #efcafa;
}

.comment-input:focus {
	outline-color: #efcafa;
}

.submit-comment {
	display: block;
	height: 30px;
	width: 300px;
	background: #efcafa;
	color: #002;
	text-align: center;
	font-size: 20px;
	margin: 0 50px;
	text-transform: uppercase;
	letter-spacing: 7px;
}

.submit-comment:hover {
	background: #caeffa;
	cursor: pointer;
}

.comment-form-title {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 60px;
}

.comment-form {
	
}

/* comment display styles */

.comment-show {
	margin-top: 40px;
}

.comment-username {
	font-weight: bold;
	margin-bottom: 20px;
}

.comment-text {
	font-size: 16px;
	width: 300px;
	min-height: 100px;
}

/* annotation form styles */

.annotation-snippet {
	font-size: 30px;
}

.annotation-form-text {
	-webkit-appearance: none;
	width: 276px;
	min-height: 76px;
	color: inherit;
	font-family: inherit;
	background: none;
	font-size: 16px;
	padding: 10px;
	border: 2px solid #efcafa;
}

.annotation-form-text:hover {
	outline-color: #efcafa;
}

.image-preview-container {
	
}

.image-preview {
	max-width: 300px;
	width: auto;
	margin: 0 auto;
}

.annotation-submit {
	display: block;
	height: 30px;
	width: 300px;
	background: #efcafa;
	color: #002;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 7px;
}

.annotation-submit:hover {
	background: #caeffa;
}

.image-upload-container {
	font-size: 20px;
}