.group:after {
  content: "";
  display: block;
  clear: both;
}

.site-title {
  display: block;
  clear: both;
  width: 225px;
  text-align: center;
  margin: 30px auto;
  font-size: 60px;
  color: #efcafa;
}

.site-title:hover {
  color: #caeffa;
}

.site-header {
  height: auto;
  background: none;
  border-bottom: 5px solid #efcafa;
	margin-bottom: 60px;
}

.site-header > ul {
  list-style: none;
}

.site-header > ul > li > a {
  display: block;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

.user-management {
  display: block;
  float: left;
}

.user-management > li {
  float: left;
	height: 100%;
	border-right: 5px solid #efcafa;
}

.quick-links {
  display: block;
  float: left;
}

.quick-links > li {
  float: left;
	border-right: 5px solid #efcafa;
}