/* Username styles */

.user-show-container > .col > .profile-picture > .box-title {
  font-size: 60px;
  top: -52px;
}

/* Big container sizing*/

.user-show-container {
  width: 990px;
  padding: 30px;
  margin: 50px auto;
}

/* Box label styling */

.user-show-container > .col .box-title {
  display: block;
  position: absolute;
  font-size: 40px;
  letter-spacing: -2;
  font-weight: bold;
  color: #efcafa;
  top: -40px;
  left: -6px;
  font-variant: small-caps;
}

.user-show-container > .col > .user-box:hover > .box-title {
  color: #caeffa;
}

/* column sizing and spacing */

.user-show-container > .col {
  width: 300px;
  height: 50px;
  float: left;
  margin-bottom: 100px;
}

.user-show-container > .left {
  margin: 0 45px 0 0;
}

.user-show-container > .mid {
}

.user-show-container > .right {
  margin: 0 0 0 45px;
}

/* user box styles */

.user-show-container > .col > .user-box {
  height: 390px;
  width: 290px;
  border: 5px solid #efcafa;
  position: relative;
}

.user-show-container > .col > .user-box:hover {
  border: 5px solid #caeffa;
  cursor: pointer;
}

/* general index styles */

.user-show-container > .col > .index > .text-container {
  font-size: 80px;
  overflow: hidden;
  word-wrap: break-word;
  letter-spacing: -10px;
  height: 390px;
  width: 290px;
  line-height: 60px;
  white-space: pre;
  color: #efcafa;
}

.user-show-container > .col > .index:hover > .text-container {
  color: #caeffa;
}

/* general follow-box styles */

.user-show-container > .col > .follow-box {
  margin-top: 45px;
}

.user-show-container > .col > .follow-box > img {
  width: 90px;
  height: 90px;
  border: 5px solid #efcafa;
  margin: 13px 20px;
}

.user-show-container > .col > .follow-box:hover > img {
  border: 5px solid #caeffa;
}

/* profile picture styles*/

.user-show-container > .col > .profile-picture {
  width: 300px;
  height: 300px;
  position: relative;
}

.user-show-container > .col > .profile-picture > img {
  width: 290px;
  height: 290px;
  border: 5px solid #efcafa;
}

.user-show-container > .col > .profile-picture > .user-total-votes {
  position: absolute;
  background: #efcafa;
  color: #002;
  font-size: 30px;
  padding: 6px;
  right: 1px;
  bottom: 1px;
  font-weight: bold;
}

/* follow button styles*/

.user-show-container > .mid > button {
  display: block;
  height: 45px;
  min-width: 100px;
  margin: 45px auto;
  font-size: 30px;
  font-weight: bold;
  padding: 7px 20px 8px 20px;
}

.user-show-container > .mid > button:hover {
  background: #caeffa;
  color: #002;
}

.user-show-container > .mid > .follow-button {
  background: none;
  color: #efcafa;
}

.user-show-container > .mid > .unfollow-button {
  background: #efcafa;
  color: #002;
}

/* content-box general styles */

.user-show-container > .col > .content-container {
  width: 300px;
  margin-top: 45px;
  margin-bottom: 100px;
}

.user-show-container > .col > .content-container > .default-message {
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.content-container > div > .content-title {
  color: #efcafa;
  font-size: 60px;
  margin: 0 auto;
  text-align: right;
}

.content-container > div .content-list {
  display: block;
  list-style: none;
  padding: 10px;
  margin 0 auto
}

.content-container > div .content-list > li {
  display: block;
  padding: 20px;
  width: 260px;
  height: 80px;
  margin: 0 auto;
}

.content-container > div .content-list > li > a {

}

/* Follow list styling */

.content-container > div .content-list > li > a > img {
  height: 90px;
  width: 90px;
  border: 5px solid #efcafa;
  float: left;
}

.content-container > div .content-list > li > a:hover > img {
  border: 5px solid #caeffa;
}

.content-container > div .content-list > li > a > .user-info {
  float: right;
  height: 90px;
  text-align: center;
  font-size: 30px;
  color: #efcafa;
  margin: 0;
}

.content-container > div .content-list > li > a:hover > .user-info {
  color: #caeffa;
}

/* Index styling */

.content-container > div .indexable-list > li > a {
  font-size: 30px;
  color: #efcafa;
}

.content-container > div .indexable-list > li > a:hover {
  color: #caeffa;
}





