<style>
.big-search {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.big-search > h1 {
  font-size: 100px;
  padding: 0 0 30px 0;
}

.big-search > input {
  width: 600px;
  height: 30px;
  padding: 5px;
  background: inherit;
  font-size: 20px;
  color: #efcafa;
  border: 3px solid #efcafa;
  text-align: center;
}

.big-search > input:focus {
  outline-color: #efcafa;
}

.search-results {
  margin: 0 auto;
  width: 600px;
}

</style>

<div class="big-search">

  <h1>Search Prosody</h1>

  <input type="text" class="search-bar">

</div>



<section class="search-results"></section>